body, html {
  font-family: "Inter", sans-serif; /* this is my brand font, but you can try with anything */ 

  color-scheme: light dark;
}

.hljs-comment {color: rgb(199, 199, 199)}
.hljs-meta {color: #747ea7}
.hljs-tag {color: rgb(203, 203, 203)}

.my-block {
    background-color: pink;
}
.my-content {
    background-color: pink;
}
