

blockquote {
    border-left: 2px solid black;
    padding-left: 10px;
    background-color: lightgray;
}

body, html {
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
}

.hljs-comment {color: rgb(199, 199, 199)}
.hljs-meta {color: #747ea7}
.hljs-tag {color: rgb(203, 203, 203)}
